@page

<!DOCTYPE html>
<html>

<head>
    <title>CentralServer</title>
</head>

<body>
    <h1>Central Server</h1>
    <p>The server is running. To continue, start one of the client apps.</p>
    <ul>
        <li><a href='https://localhost:7070/'>Manufacturing Hub</a></li>
        <li><a href='https://localhost:44423/'>Mission Control</a></li>
    </ul>
</body>

</html>
