a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.sidebar-toggler:hover {
  background: rgba(255,255,255,0.4);
}

.sidebar-bg {
  animation: fade-in 0.3s;
}

.sidebar-content a {
  color: white;
}

.sidebar-content a:hover {
  background-color: rgba(255, 224, 99, .4);
}

.sidebar-content a[aria-current] {
  background-color: rgba(255, 224, 99, 1);
  color: black;
}
